In [111]:
import ast
import numpy as np
import pandas as pd

from opportunistic_planning import processing, prediction

import importlib
importlib.reload(prediction)

In [117]:
df = pd.read_csv('all_task_environments_test_2022-03-28.csv', header=0)

In [118]:
df = df[:4]

In [119]:
df

,ID,sequence,coordinates,start_coordinates,strong_k,mid_k,food_k,containment,error
0,a1,"plate,plate_small,cup,glass,knife,spoon_small","plate: (0.008034,0.957082,0.6890539999999999);...","[-0.451354,-0.413918,0.156247],[0.513,-0.531,0...",tray,"plate,plate_small",0.0,0,0.723
1,a3,"cup,glass,wineglass,plate,cup,fork,knife,spoon","cup: (-0.525007,0.923283,0.438);glass: (-0.595...","[-0.451354,-0.413918,0.156247],[0.513,-0.531,0...",tray,"plate,plate_small",0.0,0,0.785
2,a5,"knife,fork,spoon,fork,knife,spoon,plate,winegl...","knife: (-0.07699199999999999,0.733425,0.531662...","[-0.451354,-0.413918,0.156247],[0.513,-0.531,0...",tray,"plate,plate_small",0.0,0,0.806
3,T1,"tray,napkin,plate,silverware,cup","cup: (1,4,4);napkin: (1,1,2);plate: (1,4,4);si...","[2,1.5,2],[4,3,2],[4,3,2],[4,3,2],[4,3,2]",tray,"plate,napkin",0.0,"plate,cup,silverware",0.666

In [120]:
distances_dict = processing.generate_distances_dict(df)

In [121]:
results_sum = processing.calculate_prediction_error(df, distances_dict, 
                                                    error_function='prequential',
                                                   n=10, dimensions=[[2, 'xy']])

/home/zauri/files/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1684: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = infer_fill_value(value)

In [122]:
results_sum

,"c: 1.0; k: 0.0,0.1,1.1; xy","c: 1.1; k: 0.0,0.1,1.1; xy","c: 1.2; k: 0.0,0.1,1.1; xy","c: 1.3; k: 0.0,0.1,1.1; xy","c: 1.4; k: 0.0,0.1,1.1; xy","c: 1.5; k: 0.0,0.1,1.1; xy","c: 1.6; k: 0.0,0.1,1.1; xy","c: 1.7; k: 0.0,0.1,1.1; xy","c: 1.8; k: 0.0,0.1,1.1; xy","c: 1.9; k: 0.0,0.1,1.1; xy",...,"c: 1.2; k: 0.8,0.9,1.9; xy","c: 1.3; k: 0.8,0.9,1.9; xy","c: 1.4; k: 0.8,0.9,1.9; xy","c: 1.5; k: 0.8,0.9,1.9; xy","c: 1.6; k: 0.8,0.9,1.9; xy","c: 1.7; k: 0.8,0.9,1.9; xy","c: 1.8; k: 0.8,0.9,1.9; xy","c: 1.9; k: 0.8,0.9,1.9; xy",error,ID
0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,0.723,a1
1,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,0.785,a3
2,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,0.806,a5
3,1.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,...,0.0,1.0,0.5,0.0,1.0,1.0,1.0,1.0,0.666,T1

In [123]:
lowest_mean, lowest_mean_idx, lowest_median, results_median = processing.get_lowest_error(results_sum)

In [124]:
lowest_mean_idx

Index(['c: 1.1; k: 0.0,0.1,1.1; xy', 'c: 1.2; k: 0.0,0.1,1.1; xy',
       'c: 1.3; k: 0.0,0.1,1.1; xy', 'c: 1.4; k: 0.0,0.1,1.1; xy',
       'c: 1.5; k: 0.0,0.1,1.1; xy', 'c: 1.7; k: 0.0,0.1,1.1; xy',
       'c: 1.8; k: 0.0,0.1,1.1; xy', 'c: 1.9; k: 0.0,0.1,1.1; xy',
       'c: 1.4; k: 0.1,0.2,1.1; xy', 'c: 1.5; k: 0.1,0.2,1.1; xy',
       ...
       'c: 1.9; k: 0.5,0.6,1.9; xy', 'c: 1.3; k: 0.6,0.7,1.9; xy',
       'c: 1.4; k: 0.6,0.7,1.9; xy', 'c: 1.5; k: 0.6,0.7,1.9; xy',
       'c: 1.6; k: 0.6,0.7,1.9; xy', 'c: 1.7; k: 0.6,0.7,1.9; xy',
       'c: 1.9; k: 0.6,0.7,1.9; xy', 'c: 1.4; k: 0.7,0.8,1.9; xy',
       'c: 1.2; k: 0.8,0.9,1.9; xy', 'c: 1.5; k: 0.8,0.9,1.9; xy'],
      dtype='object', length=270)