In [95]:
import numpy as np
import pandas as pd

In [169]:
food_items = ['apricots', 'avocado', 'bananas', 'beans', 'blueberries', 'bread',
             'broccoli', 'butter', 'carrot', 'carrots', 'cauliflower', 'cereal',
             'cheese', 'chilli', 'cucumber', 'egg', 'fig', 'figs', 'flour', 'garlic',
             'ginger', 'grapes', 'kiwi', 'leek', 'mango', 'onion', 'orange', 'oranges',
             'pepper', 'pineapple', 'plum', 'pomegranate', 'potato', 'salad', 'tomato_plate',
             'yoghurt', 'jar', 'oil']

In [3]:
seasoning = ['herbs', 'lemon_juice_container', 'lime', 'ketchup', 'salt', 'spice',
            'spice_shaker', 'sugar']

In [65]:
drink_items = ['beer', 'can', 'drink', 'milk', 'water']

In [61]:
kitchen_utensils = ['colander', 'flat_grater', 'garlic_press', 'ladle', 'measuring_pitcher', 'peeler',
                   'spatula', 'squeezer', 'wire_whisk']

In [6]:
containers = ['container', 'paper_bag', 'plastic_box', 'tupperware']

In [160]:
cookware = ['pot', 'pan', 'lid']

In [170]:
all_items = food_items + seasoning + drink_items + kitchen_utensils + containers + cookware + ['plate2', 'pot2', 'bowl2']

In [182]:
df = pd.read_csv('data/single_step_df_ints_2022-04-13.csv')

In [183]:
df

,input,target,start_coords.x,start_coords.y,start_coords.z,milk.already_seen,tray.already_seen,broccoli.already_seen,pineapple.already_seen,ladle.already_seen,...,lemon_juice_container.food_k,lemon_juice_container.strong_k,lemon_juice_container.mid_k,coordinates_bowl2.x,coordinates_bowl2.y,coordinates_bowl2.z,bowl2.containment,bowl2.food_k,bowl2.strong_k,bowl2.mid_k
0,<start>,plate,-0.451354,-0.413918,0.156247,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,plate,plate_small,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,plate_small,cup,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cup,glass,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,glass,knife,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2096,<start>,pineapple,1.000000,0.000000,2.000000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2097,pineapple,cutting_board,0.000000,1.500000,2.000000,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2098,cutting_board,knife,0.000000,1.500000,2.000000,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2099,knife,plastic_box,0.000000,1.500000,2.000000,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2100,plastic_box,spice_shaker,0.000000,1.500000,2.000000,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
def replace_category(df, row, old_category, new_category):
    new_category_containment = str(new_category + '.containment')
    new_category_foodk = str(new_category + '.food_k')
    new_category_midk = str(new_category + '.mid_k')
    new_category_strongk = str(new_category + '.strong_k')
    new_category_alreadyseen = str(new_category + '.already_seen')
    new_category_x = str(new_category + '.x')
    new_category_y = str(new_category + '.y')
    new_category_z = str(new_category + '.z')
    
    old_category_containment = str(old_category + '.containment')
    old_category_foodk = str(old_category + '.food_k')
    old_category_midk = str(old_category + '.mid_k')
    old_category_strongk = str(old_category + '.strong_k')
    old_category_alreadyseen = str(old_category + '.already_seen')
    old_category_x = str('coordinates_' + old_category + '.x')
    old_category_y = str('coordinates_' + old_category + '.y')
    old_category_z = str('coordinates_' + old_category + '.z')
    
    df.at[row, new_category_containment] = df.at[row, old_category_containment]
    df.at[row, new_category_foodk] = df.at[row, old_category_foodk]
    df.at[row, new_category_midk] = df.at[row, old_category_midk]
    df.at[row, new_category_strongk] = df.at[row, old_category_strongk]
    df.at[row, new_category_x] = df.at[row, old_category_x]
    df.at[row, new_category_y] = df.at[row, old_category_y]
    df.at[row, new_category_z] = df.at[row, old_category_z]
    df.at[row, new_category_alreadyseen] = df.at[row, old_category_alreadyseen]
    
    df.at[row, old_category_containment] = np.nan
    df.at[row, old_category_foodk] = np.nan
    df.at[row, old_category_midk] = np.nan
    df.at[row, old_category_strongk] = np.nan
    df.at[row, old_category_x] = np.nan
    df.at[row, old_category_y] = np.nan
    df.at[row, old_category_z] = np.nan
    df.at[row, old_category_alreadyseen] = np.nan
    
    return df

In [185]:
def remove_empty_columns(df, all_items):
    for col in df.columns:
        for item in all_items:
            if item in col:
                df.drop(col, axis=1, inplace=True, errors='ignore')
    
    return df

In [186]:
for row in range(0, len(df)):
    # fix for first_item-second_item pairs
    if '2' in df.at[row, 'input']:
        second_item = df.at[row, 'input']
        replace_category(df, row, second_item, second_item[:-1])
        df.at[row, 'input'] = second_item[:-1]
    
    if '2' in df.at[row, 'target']:
        second_item = df.at[row, 'target']
        replace_category(df, row, second_item, second_item[:-1])
        df.at[row, 'target'] = second_item[:-1]
    
    # food items
    #if df.at[row, 'input'] in food_items:
    #    replace_category(df, row, df.at[row, 'input'], 'food')
    #    df.at[row, 'input'] = 'food'
    if df.at[row, 'target'] in food_items:
        replace_category(df, row, df.at[row, 'target'], 'food')
        df.at[row, 'target'] = 'food'
    
    # containers
    #if df.at[row, 'input'] in containers:
    #    replace_category(df, row, df.at[row, 'input'], 'container')
    #    df.at[row, 'input'] = 'container'
    if df.at[row, 'target'] in containers:
        replace_category(df, row, df.at[row, 'target'], 'container')
        df.at[row, 'target'] = 'container'
    
    # kitchen utensils
    #if df.at[row, 'input'] in kitchen_utensils:
    #    replace_category(df, row, df.at[row, 'input'], 'utensil')
    #    df.at[row, 'input'] = 'utensil'
    if df.at[row, 'target'] in kitchen_utensils:
        replace_category(df, row, df.at[row, 'target'], 'utensil')
        df.at[row, 'target'] = 'utensil'
    
    # drinks
    #if df.at[row, 'input'] in drink_items:
    #    replace_category(df, row, df.at[row, 'input'], 'drink')
    #    df.at[row, 'input'] = 'drink'
    if df.at[row, 'target'] in drink_items:
        replace_category(df, row, df.at[row, 'target'], 'drink')
        df.at[row, 'target'] = 'drink'
    
    # seasoning
    #if df.at[row, 'input'] in seasoning:
    #    replace_category(df, row, df.at[row, 'input'], 'seasoning')
    #    df.at[row, 'input'] = 'seasoning'
    if df.at[row, 'target'] in seasoning:
        replace_category(df, row, df.at[row, 'target'], 'seasoning')
        df.at[row, 'target'] = 'seasoning'
    
    # cookware
    #if df.at[row, 'input'] in cookware:
    #    replace_category(df, row, df.at[row, 'input'], 'cookware')
    #    df.at[row, 'input'] = 'cookware'
    if df.at[row, 'target'] in cookware:
        replace_category(df, row, df.at[row, 'target'], 'cookware')
        df.at[row, 'target'] = 'cookware'

In [187]:
df

,input,target,start_coords.x,start_coords.y,start_coords.z,milk.already_seen,tray.already_seen,broccoli.already_seen,pineapple.already_seen,ladle.already_seen,...,cookware.x,cookware.y,cookware.z,cookware.already_seen,pot.x,pot.y,pot.z,bowl.x,bowl.y,bowl.z
0,<start>,plate,-0.451354,-0.413918,0.156247,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,plate,plate_small,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,plate_small,cup,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cup,glass,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,glass,knife,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2096,<start>,food,1.000000,0.000000,2.000000,0.0,0.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2097,pineapple,cutting_board,0.000000,1.500000,2.000000,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2098,cutting_board,knife,0.000000,1.500000,2.000000,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2099,knife,container,0.000000,1.500000,2.000000,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2100,plastic_box,seasoning,0.000000,1.500000,2.000000,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
set(df['input'].unique()).symmetric_difference(df['target'].unique())

{'<start>',
 'apricots',
 'avocado',
 'bananas',
 'beans',
 'beer',
 'blueberries',
 'bowl2',
 'bread',
 'broccoli',
 'butter',
 'can',
 'carrot',
 'carrots',
 'cauliflower',
 'cereal',
 'cheese',
 'chilli',
 'colander',
 'cucumber',
 'egg',
 'fig',
 'figs',
 'flat_grater',
 'flour',
 'food',
 'garlic',
 'garlic_press',
 'ginger',
 'grapes',
 'herbs',
 'jar',
 'ketchup',
 'kiwi',
 'ladle',
 'leek',
 'lime',
 'mango',
 'measuring_pitcher',
 'milk',
 'onion',
 'orange',
 'oranges',
 'paper_bag',
 'peeler',
 'pepper',
 'pineapple',
 'plastic_box',
 'plum',
 'pomegranate',
 'pot2',
 'potato',
 'salad',
 'salt',
 'seasoning',
 'spatula',
 'spice',
 'spice_shaker',
 'squeezer',
 'sugar',
 'tomato_plate',
 'tupperware',
 'utensil',
 'water',
 'wire_whisk',
 'yoghurt'}

In [33]:
df[(df['input'] == 'plate') & (df['target'] == 'plate2')]

,input,target,start_coords.x,start_coords.y,start_coords.z,oranges.already_seen,avocado.already_seen,measuring_pitcher.already_seen,spoon_small.already_seen,garlic_press.already_seen,...,coordinates_bowl2.x,coordinates_bowl2.y,coordinates_bowl2.z,bowl2.containment,bowl2.food_k,bowl2.strong_k,bowl2.mid_k,food.x,food.y,food.z
830,plate,plate2,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
len(df[(df['input'] == 'pot') & (df['target'] == 'pot2')]) == 0

True

In [125]:
len(df[(df['input'] == 'bowl') & (df['target'] == 'bowl2')]) == 0

True

In [188]:
remove_empty_columns(df, all_items)

,input,target,start_coords.x,start_coords.y,start_coords.z,tray.already_seen,bowl.already_seen,wineglass.already_seen,silverware.already_seen,spoon.already_seen,...,cookware.food_k,cookware.mid_k,cookware.strong_k,cookware.x,cookware.y,cookware.z,cookware.already_seen,bowl.x,bowl.y,bowl.z
0,<start>,plate,-0.451354,-0.413918,0.156247,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,plate,plate_small,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,plate_small,cup,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cup,glass,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,glass,knife,0.513000,-0.531000,0.740000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2096,<start>,food,1.000000,0.000000,2.000000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2097,pineapple,cutting_board,0.000000,1.500000,2.000000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2098,cutting_board,knife,0.000000,1.500000,2.000000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2099,knife,container,0.000000,1.500000,2.000000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2100,plastic_box,seasoning,0.000000,1.500000,2.000000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [190]:
#df.to_csv('data/single_step_df_ints_2022-04-13_categorized.csv', index=False, header=True)