In [185]:
import pandas as pd

In [125]:
sequences = pd.read_csv('data/kit_sequenzen.csv', header=0)

In [126]:
annotation = pd.read_csv('data/kit_annotation.csv', header=0)

In [186]:
df = pd.DataFrame(columns=['ID', 'sequence', 'coordinates', 'start_coordinates'])

In [191]:
data = pd.read_csv('data/kit_annotation_clustered.csv', header=0)

In [189]:
all_items = []

for col in data.columns:
    if 'geschirr' not in col and 'head' not in col and 'x' in col:
        all_items.append(col[:-2])

In [197]:
ids = set(data['ID'])

In [201]:
df['ID'] = sorted(list(ids))

In [203]:
for row in range(0, len(df)):
    locations_dict = {}
    ID = df.at[row, 'ID']
    filtered_df = data.loc[data['annotation'] == 'start'].set_index('ID')
    
    for item in all_items:
        locations_dict[item] = [filtered_df.at[ID, str(item) + '_x'],
                               filtered_df.at[ID, str(item) + '_y'], 2.0]
    df.at[row, 'coordinates'] = locations_dict

In [213]:
for row in range(0, len(df)):
    subject_locations = []
    ID = df.at[row, 'ID']
    filtered_annotation = data.loc[data['ID'] == ID].reset_index()
    
    for row2 in range(0, len(filtered_annotation)):
        if filtered_annotation.at[row2, 'annotation'] == 'start':
            subject_locations.append([filtered_annotation.at[row2, 'head_x'],
                                      filtered_annotation.at[row2, 'head_y'], 2.0])
        elif filtered_annotation.at[row2, 'annotation'] == 'nehmen_objekte':
            subject_locations.append([filtered_annotation.at[row2 - 1, 'head_x'],
                                     filtered_annotation.at[row2 - 1, 'head_y'], 2.0])
    
    #print(subject_locations)
    df.at[row, 'start_coordinates'] = subject_locations

In [231]:
for row in range(0 ,len(df)):
    ID = df.at[row, 'ID']
    filtered_annotation = data.loc[(data['ID'] == ID) & (data['annotation'] == 'nehmen_objekte')].reset_index()
    sequence = []
    
    for row2 in range(0, len(filtered_annotation)):
        if pd.isna(filtered_annotation.at[row2, 'zweites_objekt']):
            sequence.append(filtered_annotation.at[row2, 'erstes_objekt'])
        else:
            set_name = str('set') + '_' + str(row2)
            sequence.append(set_name)
        
    df.at[row, 'sequence'] = sequence

In [232]:
df

,ID,sequence,coordinates,start_coordinates
0,k01,"[set_0, besteck_3, set_2, set_3, set_4, set_5]","{'besteck_1': [4.0, 3.0, 2.0], 'teller_flach_1...","[[2.0, 4.0, 2.0], [2.0, 4.0, 2.0], [2.0, 4.0, ..."
1,k04,"[set_0, set_1, set_2, set_3, set_4]","{'besteck_1': [4.5, 4.2, 2.0], 'teller_flach_1...","[[3.5, 3.0, 2.0], [3.5, 3.0, 2.0], [2.5, 4.5, ..."
2,k06,"[set_0, set_1, set_2, set_3, set_4]","{'besteck_1': [5.0, 3.5, 2.0], 'teller_flach_1...","[[2.5, 4.5, 2.0], [2.5, 4.5, 2.0], [2.5, 4.5, ..."
3,k08,"[set_0, set_1, set_2, set_3, teller_flach_1, s...","{'besteck_1': [5.0, 3.7, 2.0], 'teller_flach_1...","[[2.5, 4.5, 2.0], [2.5, 4.5, 2.0], [2.5, 4.5, ..."
4,k11,"[set_0, besteck_3, besteck_3, set_3, set_4, se...","{'besteck_1': [5.0, 3.6, 2.0], 'teller_flach_1...","[[2.5, 4.5, 2.0], [2.5, 4.5, 2.0], [2.4, 4.5, ..."
5,k12,"[set_0, besteck_2, set_2, set_3, besteck_1, se...","{'besteck_1': [5.5, 3.7, 2.0], 'teller_flach_1...","[[3.0, 3.9, 2.0], [3.0, 3.9, 2.0], [2.5, 4.5, ..."
6,k14,"[set_0, set_1, schale_1, besteck_1, set_4, tel...","{'besteck_1': [5.0, 3.7, 2.0], 'teller_flach_1...","[[3.7, 4.2, 2.0], [2.5, 4.5, 2.0], [2.5, 4.5, ..."
7,k16,"[set_0, set_1, besteck_3, besteck_2, besteck_1...","{'besteck_1': [5.0, 3.8, 2.0], 'teller_flach_1...","[[2.5, 4.5, 2.0], [2.5, 4.5, 2.0], [2.5, 4.5, ..."
8,k17,"[schale_1, set_1, set_2, set_3, set_4, besteck...","{'besteck_1': [5.5, 3.7, 2.0], 'teller_flach_1...","[[2.5, 4.5, 2.0], [2.5, 4.5, 2.0], [2.5, 4.5, ..."
9,k18,"[set_0, set_1, set_2, set_3, set_4, set_5]","{'besteck_1': [5.0, 3.5, 2.0], 'teller_flach_1...","[[2.5, 4.5, 2.0], [3.9, 4.1, 2.0], [2.5, 4.5, ..."
10,k19,"[set_0, teller_tief_1, set_2, teller_tief_2, b...","{'besteck_1': [5.2, 3.8, 2.0], 'teller_flach_1...","[[4.0, 4.1, 2.0], [4.0, 4.1, 2.0], [2.5, 4.5, ..."
11,k20,"[besteck_3, besteck_2, besteck_1, besteck_1, s...","{'besteck_1': [4.3, 3.6, 2.0], 'teller_flach_1...","[[4.0, 1.9, 2.0], [4.0, 1.9, 2.0], [2.5, 4.5, ..."
12,k21,"[set_0, set_1, set_2, set_3, set_4, set_5, set_6]","{'besteck_1': [5.1, 3.8, 2.0], 'teller_flach_1...","[[4.0, 2.1, 2.0], [4.0, 2.1, 2.0], [2.5, 4.5, ..."
13,k22,"[besteck_1, set_1, set_2, glas_3, set_4, set_5...","{'besteck_1': [5.0, 3.8, 2.0], 'teller_flach_1...","[[2.5, 4.5, 2.0], [2.5, 4.5, 2.0], [2.5, 4.5, ..."
14,k23,"[besteck_1, set_1, set_2, set_3, set_4]","{'besteck_1': [5.0, 3.8, 2.0], 'teller_flach_1...","[[4.0, 4.1, 2.0], [4.0, 4.1, 2.0], [2.5, 4.5, ..."
15,k24,"[besteck_3, besteck_2, besteck_1, set_3, set_4...","{'besteck_1': [5.0, 3.8, 2.0], 'teller_flach_1...","[[2.5, 4.5, 2.0], [2.5, 4.5, 2.0], [2.5, 4.5, ..."
16,k25,"[set_0, besteck_1, set_2, set_3, set_4, set_5,...","{'besteck_1': [5.0, 3.7, 2.0], 'teller_flach_1...","[[2.0, 4.5, 2.0], [2.0, 4.5, 2.0], [2.5, 4.5, ..."