In [58]:
import ast
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
with open('results/pytorch_rnn_prequential_summed_2022-04-19.txt', 'r') as file:
    text_pred = ast.literal_eval(file.read())

In [5]:
with open('results/nn_spatialinfo_prequential_summed_2022-04-14.txt', 'r') as file:
    spatial_info = ast.literal_eval(file.read())

In [20]:
model_results = pd.read_csv('../../opportunistic_planning/all_lowest_error/results/results_mean_2D_n100_2022-04-19.csv')

In [21]:
model_results = model_results.T
new_header = model_results.iloc[0]
model_results = model_results[1:]
model_results.columns = new_header

In [25]:
lowest_mean = min(model_results.loc['mean'])
lowest_mean_idx = model_results.columns[(model_results.loc['mean'] == lowest_mean)]

In [26]:
lowest_mean_idx

Index(['c: 1.5; k: 0.2,0.3,1.3; xy'], dtype='object', name='Unnamed: 0')

In [27]:
results = model_results[lowest_mean_idx[0]][:-2].values

In [31]:
len(results) == len(text_pred) == len(spatial_info)

True

In [49]:
df = pd.read_csv('../../opportunistic_planning/all_lowest_error/all_task_environments_list_2022-04-01.csv', header=0)

In [54]:
prediction_errors = pd.DataFrame()
prediction_errors['ID'] = model_results['ID'][:-2]
prediction_errors['text_pred'] = text_pred
prediction_errors['spatial_info'] = spatial_info
prediction_errors['model'] = results
prediction_errors['sequence'] = list(df['sequence'])

In [144]:
prediction_errors['model'].value_counts().index

Index(['2.0', '3.0', '4.0', '1.0', '5.0', '6.0', '0.0', '7.0', '8.0', '9.0',
       '3.5', '1.5', '11.0', '10.0', '12.0', '13.0', '5.5', '0.5'],
      dtype='object')

In [140]:
value_counts = pd.DataFrame(index=range(0,14))
value_counts['spatial_info'] = prediction_errors['spatial_info'].value_counts()
value_counts['text_pred'] = prediction_errors['text_pred'].value_counts()
value_counts['model'] = prediction_errors['model'].value_counts()
value_counts

    spatial_info  text_pred  model
0           36.0        NaN    NaN
1           96.0       17.0    NaN
2           83.0       54.0    NaN
3           44.0       45.0    NaN
4           25.0       38.0    NaN
5           14.0       58.0    NaN
6            8.0       64.0    NaN
7            6.0       19.0    NaN
8            1.0        9.0    NaN
9            NaN        1.0    NaN
10           NaN        4.0    NaN
11           1.0        1.0    NaN
12           NaN        2.0    NaN
13           NaN        NaN    NaN

In [57]:
#prediction_errors.to_csv('results/prediction_errors.csv', header=True, index=False)

In [145]:
%matplotlib qt

# frequencies in subplots

fig = plt.figure(facecolor="w")

ax1 = plt.subplot(131)
prediction_errors['spatial_info'].value_counts().sort_values().plot(kind = 'barh',
                                                                    color='dodgerblue',
                                                                    alpha=0.9)
ax1.set_xlabel('NN with spatial info', fontsize=16)

ax2 = plt.subplot(132)
prediction_errors['text_pred'].value_counts().sort_values().plot(kind = 'barh',
                                                                 color='darkgreen', 
                                                                 alpha=0.9)
ax2.set_xlabel('NN text prediction', fontsize=16)

ax3 = plt.subplot(133)
prediction_errors['model'].value_counts().sort_values().plot(kind = 'barh',
                                                             color='darkred', 
                                                             alpha=0.9)
ax3.set_xlabel('model', fontsize=16)

ax1.set_ylabel('accumulated prediction error', fontsize=18)
plt.suptitle('error frequencies', fontsize=18)
plt.show()

In [120]:
# stacked bar chart

fig = plt.figure(facecolor="w")
prediction_errors['spatial_info'].value_counts().sort_values().plot(kind = 'bar',
                                                                    color='dodgerblue',
                                                                    alpha=0.9,)
prediction_errors['text_pred'].value_counts().sort_values().plot(kind = 'bar',
                                                                 color='darkgreen', 
                                                                 alpha=0.9)
prediction_errors['model'].value_counts().sort_values().plot(kind = 'bar',
                                                             color='darkred', 
                                                             alpha=0.9)

In [123]:
# separate bar charts

fig = plt.figure(facecolor="w")
prediction_errors.plot(x="ID", y=['spatial_info', 'text_pred', 'model'], kind='bar')