In [10]:
import pandas as pd
import os

In [11]:
directory = '../../../../resources/data/mpii_cooking/tacos_corpus/TACoS/alignments/'

In [12]:
item_df = pd.DataFrame(columns=['ID', 'items'])

In [13]:
item_dict = {}
ids = []

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".tsv"):
        path = directory + file
        df = pd.read_csv(path, on_bad_lines='skip', sep='\t', header=None)
        file_id = os.path.splitext(filename)[0].split('.')[0]
        item_list = []
        ids.append(file_id)
        
        for row in range(0, len(df)):
            if df.iloc[row, 2] == "take out" and df.iloc[row, 4] not in item_list:
                item_list.append(df.iloc[row, 4])
        
        item_dict[file_id] = item_list

In [14]:
item_df['ID'] = ids

In [15]:
for row in range(0, len(item_df)):
    ID = item_df.at[row, 'ID']
    items = item_dict[ID]
    item_df.at[row, 'items'] = items

In [16]:
item_df = item_df[item_df['items'].map(len) > 2]

In [17]:
item_df = item_df.sort_values('ID')

In [18]:
item_df

          ID                                              items
35   s13-d21            [cutting board, knife, cucumber, plate]
24   s13-d25   [plastic paper bag, plate, knife, cutting board]
108  s13-d28              [cutting board, knife, orange, plate]
119  s13-d31     [garlic press, plate, garlic, knife, teaspoon]
68   s13-d40              [squeezer, plate, plastic bag, knife]
..       ...                                                ...
125  s37-d21  [cucumber, knife, counter,drawer, plate, peele...
62   s37-d25          [plastic paper bag, cutting board, knife]
81   s37-d29                       [cutting board, knife, bowl]
70   s37-d39  [leek, cutting board, knife, pan, bottle, spat...
96   s37-d46  [pineapple, cutting board, knife, plastic box,...

[124 rows x 2 columns]

In [19]:
#item_df.to_csv('mpii2_item_list.csv', index=False, header=True)