In [8]:
import ast
import pandas as pd

from scipy.stats import wilcoxon

### preprocess data

In [2]:
cleaning = pd.read_csv('results/results_cleaning_2D_n100_fitted_to_ts_2022-08-30.csv', header=0)

In [3]:
cooking = pd.read_csv('results/results_tablesetting_cooking_2D_n100_fitted_to_ts_on_2022-06-03.csv', header=0)

In [27]:
with open ('results/pytorch_rnn_prequential_summed_fitted_on_ts_results_cooking_2022-06-09.txt', 'r') as file:
    rnn_results_cooking = ast.literal_eval(file.read())

In [29]:
with open ('results/nn_spatialinfo_prequential_summed_fitted_on_ts_results_all_2022-06-07.txt', 'r') as file:
    nn_results = ast.literal_eval(file.read())

In [15]:
nn_results_cooking = nn_results[186:]

In [22]:
opm_cooking = cooking[186:]['median']

In [23]:
opm_cleaning = cleaning['median']

In [33]:
with open ('results/pytorch_rnn_prequential_summed_fitted_ts_cleaning_2022-10-11.txt', 'r') as file:
    rnn_results_cleaning = ast.literal_eval(file.read())

In [34]:
with open ('results/nn_spatialinfo_prequential_summed_fitted_on_ts_results_cleaning_2022-10-11.txt', 'r') as file:
    nn_results_cleaning = ast.literal_eval(file.read())

### stat analysis

### 1. cooking

In [53]:
# nn vs opm
stat, p = wilcoxon(opm_cooking, nn_results_cooking, zero_method='wilcox')
print('Wilcoxon: W = %.3f, p = %.5f' % (stat, p))

Wilcoxon: W = 0.000, p = 0.00000

In [44]:
# rnn vs opm
stat, p = wilcoxon(opm_cooking, rnn_results_cooking, zero_method='wilcox')
print('Wilcoxon: W = %.3f, p = %.5f' % (stat, p))

Wilcoxon: W = 319.500, p = 0.00000

### 2. cleaning

In [49]:
# nn vs opm
stat, p = wilcoxon(opm_cleaning, nn_results_cleaning, zero_method='wilcox')
print('Wilcoxon: W = %.3f, p = %.5f' % (stat, p))

Wilcoxon: W = 0.000, p = 0.00002

In [51]:
# rnn vs opm
stat, p = wilcoxon(opm_cleaning, rnn_results_cleaning, zero_method='wilcox')
print('Wilcoxon: W = %.3f, p = %.5f' % (stat, p))

Wilcoxon: W = 0.000, p = 0.00040

### compare results

In [64]:
results_cooking = pd.DataFrame()
results_cooking['opm'] = opm_cooking
results_cooking['nn'] = nn_results_cooking
results_cooking['rnn'] = rnn_results_cooking

In [62]:
results_cooking

     opm   nn  rnn
186  0.0  4.0  2.0
187  1.5  4.0  3.0
188  1.0  4.0  2.0
189  3.0  5.0  4.0
190  3.0  3.0  3.0
..   ...  ...  ...
304  3.0  6.0  5.0
305  1.0  3.0  1.0
306  1.0  4.0  2.0
307  4.0  7.0  5.0
308  2.0  3.0  3.0

[123 rows x 3 columns]

In [63]:
results_cleaning = pd.DataFrame()
results_cleaning['opm'] = opm_cleaning
results_cleaning['nn'] = nn_results_cleaning
results_cleaning['rnn'] = rnn_results_cleaning

In [65]:
results_cleaning

    opm    nn  rnn
0   3.0   6.0  5.0
1   2.0   5.0  4.0
2   1.0   5.0  4.0
3   6.0   7.0  7.0
4   3.0   9.0  8.0
5   3.0   8.0  7.0
6   4.0  10.0  9.0
7   5.0   9.0  8.0
8   5.0   8.0  7.0
9   4.0   6.0  5.0
10  6.0  10.0  9.0
11  3.0   8.0  7.0
12  3.0   7.0  6.0
13  5.0   8.0  7.0
14  4.0   5.0  4.0
15  4.0   9.0  8.0
16  4.0   6.0  7.0