In [116]:
import ast
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from scipy.stats import wilcoxon

In [2]:
v1_seq = ['bowl','breakfast-cereal','cup','spoon','milk']
v2_seq = ['bowl','cup','milk','breakfast-cereal','spoon']
v3_seq = ['bowl','spoon','breakfast-cereal','cup','milk']
v4_seq = ['bowl','spoon','milk','cup','breakfast-cereal']
v5_seq = ['bowl','milk','breakfast-cereal','spoon','cup']

In [3]:
distances = pd.read_csv('locations_objects.csv', header=0, index_col='demo')

### Calculate distances for OPM sequences

In [4]:
d1 = []
for i in range(0, len(v1_seq)):
    loc1 = v1_seq[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v1', loc2])) -
                                np.array(ast.literal_eval(distances.at['v1', loc1])))
    try:
        loc3 = v1_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v1', loc2])) -
                                np.array(ast.literal_eval(distances.at['v1', loc3])))
        d1.append(dist2)
    except:
        continue
    d1.append(dist)

In [5]:
sum(d1)

4.743217010403397

In [6]:
d2 = []
for i in range(0, len(v2_seq)):
    loc1 = v2_seq[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v2', loc2])) -
                                np.array(ast.literal_eval(distances.at['v2', loc1])))
    try:
        loc3 = v2_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v2', loc2])) -
                                np.array(ast.literal_eval(distances.at['v2', loc3])))
        d2.append(dist2)
    except:
        continue
    d2.append(dist)

In [7]:
sum(d2)

5.062442509429448

In [8]:
d3 = []
for i in range(0, len(v3_seq)):
    loc1 = v3_seq[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v3', loc1])) -
                                np.array(ast.literal_eval(distances.at['v3', loc2])))
    try:
        loc3 = v3_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v3', loc2])) -
                                np.array(ast.literal_eval(distances.at['v3', loc3])))
        d3.append(dist2)
    except:
        continue
    d3.append(dist)

In [9]:
sum(d3)

4.675510246358996

In [10]:
d4 = []
for i in range(0, len(v4_seq)):
    loc1 = v4_seq[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v4', loc2])) -
                                np.array(ast.literal_eval(distances.at['v4', loc1])))
    try:
        loc3 = v4_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v4', loc2])) -
                                np.array(ast.literal_eval(distances.at['v4', loc3])))
        d4.append(dist2)
    except:
        continue
    d4.append(dist)

In [11]:
sum(d4)

5.392777958840495

In [12]:
d5 = []
for i in range(0, len(v5_seq)):
    loc1 = v5_seq[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v5', loc2])) -
                                np.array(ast.literal_eval(distances.at['v5', loc1])))
    try:
        loc3 = v5_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v5', loc2])) -
                                np.array(ast.literal_eval(distances.at['v5', loc3])))
        d5.append(dist2)
    except:
        continue
    d5.append(dist)

In [13]:
sum(d5)

5.020026659716588

In [14]:
distances_opm = {}
distances_opm['v1'] = sum(d1)
distances_opm['v2'] = sum(d2)
distances_opm['v3'] = sum(d3)
distances_opm['v4'] = sum(d4)
distances_opm['v5'] = sum(d5)

In [15]:
distances_opm

{'v1': 4.743217010403397,
 'v2': 5.062442509429448,
 'v3': 4.675510246358996,
 'v4': 5.392777958840495,
 'v5': 5.020026659716588}

### Calculate distances for baseline sequences

In [16]:
v1_seq2 = ['breakfast-cereal','cup','bowl','spoon','milk']
v2_seq2 = ['spoon','breakfast-cereal','milk','cup','bowl']
v3_seq2 = ['cup','milk','breakfast-cereal','bowl','spoon']
v4_seq2 = ['bowl','milk','cup','spoon','breakfast-cereal']
v5_seq2 = ['bowl','cup','breakfast-cereal','spoon','milk']

In [17]:
d1_2 = []
for i in range(0, len(v1_seq2)):
    loc1 = v1_seq2[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v1', loc2])) -
                                np.array(ast.literal_eval(distances.at['v1', loc1])))
    try:
        loc3 = v1_seq2[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v1', loc2])) -
                                np.array(ast.literal_eval(distances.at['v1', loc3])))
        d1_2.append(dist2)
    except:
        continue
    d1_2.append(dist)

In [18]:
sum(d1_2)

5.3611702254174105

In [19]:
d2_2 = []
for i in range(0, len(v2_seq2)):
    loc1 = v2_seq2[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v2', loc2])) -
                                np.array(ast.literal_eval(distances.at['v2', loc1])))
    try:
        loc3 = v2_seq2[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v2', loc2])) -
                                np.array(ast.literal_eval(distances.at['v2', loc3])))
        d2_2.append(dist2)
    except:
        continue
    d2_2.append(dist)

In [20]:
sum(d2_2)

4.948253687350284

In [21]:
d3_2 = []
for i in range(0, len(v3_seq2)):
    loc1 = v3_seq2[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v3', loc1])) -
                                np.array(ast.literal_eval(distances.at['v3', loc2])))
    try:
        loc3 = v3_seq2[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v3', loc2])) -
                                np.array(ast.literal_eval(distances.at['v3', loc3])))
        d3_2.append(dist2)
    except:
        continue
    d3_2.append(dist)

In [22]:
sum(d3_2)

6.070628153169264

In [23]:
d4_2 = []
for i in range(0, len(v4_seq2)):
    loc1 = v4_seq2[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v4', loc2])) -
                                np.array(ast.literal_eval(distances.at['v4', loc1])))
    try:
        loc3 = v4_seq2[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v4', loc2])) -
                                np.array(ast.literal_eval(distances.at['v4', loc3])))
        d4_2.append(dist2)
    except:
        continue
    d4_2.append(dist)

In [24]:
sum(d4_2)

5.281143905145709

In [25]:
d5_2 = []
for i in range(0, len(v5_seq2)):
    loc1 = v5_seq2[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v5', loc2])) -
                                np.array(ast.literal_eval(distances.at['v5', loc1])))
    try:
        loc3 = v5_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v5', loc2])) -
                                np.array(ast.literal_eval(distances.at['v5', loc3])))
        d5_2.append(dist2)
    except:
        continue
    d5_2.append(dist)

In [26]:
sum(d5_2)

5.309578287398773

In [27]:
distances_baseline = {}
distances_baseline['v1'] = sum(d1_2)
distances_baseline['v2'] = sum(d2_2)
distances_baseline['v3'] = sum(d3_2)
distances_baseline['v4'] = sum(d4_2)
distances_baseline['v5'] = sum(d5_2)

In [28]:
distances_opm

{'v1': 4.743217010403397,
 'v2': 5.062442509429448,
 'v3': 4.675510246358996,
 'v4': 5.392777958840495,
 'v5': 5.020026659716588}

In [29]:
distances_baseline

{'v1': 5.3611702254174105,
 'v2': 4.948253687350284,
 'v3': 6.070628153169264,
 'v4': 5.281143905145709,
 'v5': 5.309578287398773}

In [30]:
distances = pd.DataFrame()
distances['distance'] = [x for x in distances_opm.values()] + [x for x in distances_baseline.values()]
distances['type'] = ['opm'] * 5 + ['baseline'] * 5
distances['simulation'] = [x for x in distances_baseline.keys()] * 2

In [31]:
distances

   distance      type simulation
0  4.743217       opm         v1
1  5.062443       opm         v2
2  4.675510       opm         v3
3  5.392778       opm         v4
4  5.020027       opm         v5
5  5.361170  baseline         v1
6  4.948254  baseline         v2
7  6.070628  baseline         v3
8  5.281144  baseline         v4
9  5.309578  baseline         v5

### Plot distances: Barplot

In [33]:
%matplotlib qt

ax = sns.barplot(y='distance',
                 x='simulation',
                 data=distances,
                 hue='type',
                 palette='viridis',
                 alpha=0.7,
                 width=0.7)

#plt.setp(ax.collections, alpha=0.7)

plt.ylabel('distance in meters', fontsize=18)
plt.xlabel('simulation', fontsize=18)
plt.legend(loc='upper left', fontsize=18)

plt.show()

### Plot distances: Violin

In [64]:
%matplotlib qt

ax2 = sns.violinplot(y='distance',
                     x='type',
                     data=distances,
                     palette='viridis',
                     cut=2,
                     inner='quartiles',
                     saturation=.8)

plt.setp(ax2.collections, alpha=0.5)

#ax2.set_xticklabels(ax.get_xticklabels(), rotation=0, fontsize=24)

plt.ylabel('distance in meters', fontsize=24)
plt.xlabel('simulation', fontsize=24)
#plt.tight_layout(pad=0.9)
plt.show()

### Combine plots

In [111]:
%matplotlib qt

fig2, (ax3, ax4) = plt.subplots(1,2, sharey=True)

sns.barplot(y='distance',
            x='simulation',
            data=distances,
            hue='type',
            palette='viridis',
            alpha=0.7,
            width=0.7,
            ax=ax3)

ax3.set_xlabel('simulation', fontsize=24)
ax3.set_ylabel('', fontsize=24)
for line in ax3.lines:
    line.set_color('black')
    
ax3.legend(loc='upper right', fontsize=24)

sns.violinplot(y='distance',
               x='type',
               data=distances,
               palette='viridis',
               cut=2,
               inner='quartiles',
               saturation=.8, ax=ax4)

plt.setp(ax4.collections, alpha=0.5)
ax4.set_ylabel('distance in meters', fontsize=24)
ax4.set_xlabel('simulation type', fontsize=24)

for line in ax4.lines:
    line.set_color('black')
    
plt.tight_layout()
plt.show()

### Stat analysis

In [114]:
opm = [x for x in distances_opm.values()]

In [115]:
baseline = [x for x in distances_baseline.values()]

In [117]:
stat, p = wilcoxon(opm, baseline)
print('Wilcoxon: W = %.3f, p = %.5f' % (stat, p))

Wilcoxon: W = 3.000, p = 0.31250

In [120]:
np.average(opm), np.average(baseline)

(4.9787948769497845, 5.394154851696288)