In [125]:
import ast
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from scipy.stats import wilcoxon
from matplotlib.lines import Line2D

In [126]:
v1_seq = ['bowl','milk','cup','spoon','breakfast-cereal']
v2_seq = ['bowl','milk','cup','spoon','breakfast-cereal']
v3_seq = ['bowl','spoon','breakfast-cereal','cup','milk']
v4_seq = ['bowl','spoon','milk','cup','breakfast-cereal']
v5_seq = ['bowl','milk','breakfast-cereal','spoon','cup']

In [127]:
distances = pd.read_csv('locations_objects_2024-09-13.csv', header=0, index_col='demo')

### Calculate distances for baseline sequences

In [128]:
d1 = []
for i in range(0, len(v1_seq)):
    loc1 = v1_seq[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v1', loc2])) -
                                np.array(ast.literal_eval(distances.at['v1', loc1])))
    try:
        loc3 = v1_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v1', loc2])) -
                                np.array(ast.literal_eval(distances.at['v1', loc3])))
        d1.append(dist2)
    except:
        continue
    d1.append(dist)

In [129]:
sum(d1)

20.31897939730835

In [130]:
d2 = []
for i in range(0, len(v2_seq)):
    loc1 = v2_seq[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v2', loc2])) -
                                np.array(ast.literal_eval(distances.at['v2', loc1])))
    try:
        loc3 = v2_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v2', loc2])) -
                                np.array(ast.literal_eval(distances.at['v2', loc3])))
        d2.append(dist2)
    except:
        continue
    d2.append(dist)

In [131]:
sum(d2)

20.31897939730835

In [132]:
d3 = []
for i in range(0, len(v3_seq)):
    loc1 = v3_seq[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v3', loc1])) -
                                np.array(ast.literal_eval(distances.at['v3', loc2])))
    try:
        loc3 = v3_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v3', loc2])) -
                                np.array(ast.literal_eval(distances.at['v3', loc3])))
        d3.append(dist2)
    except:
        continue
    d3.append(dist)

In [133]:
sum(d3)

19.6694619043898

In [134]:
d4 = []
for i in range(0, len(v4_seq)):
    loc1 = v4_seq[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v4', loc2])) -
                                np.array(ast.literal_eval(distances.at['v4', loc1])))
    try:
        loc3 = v4_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v4', loc2])) -
                                np.array(ast.literal_eval(distances.at['v4', loc3])))
        d4.append(dist2)
    except:
        continue
    d4.append(dist)

In [135]:
sum(d4)

20.288946647903803

In [136]:
d5 = []
for i in range(0, len(v5_seq)):
    loc1 = v5_seq[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v5', loc2])) -
                                np.array(ast.literal_eval(distances.at['v5', loc1])))
    try:
        loc3 = v5_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v5', loc2])) -
                                np.array(ast.literal_eval(distances.at['v5', loc3])))
        d5.append(dist2)
    except:
        continue
    d5.append(dist)

In [137]:
sum(d5)

19.56561293881805

In [138]:
distances_baseline = {}
distances_baseline['v1'] = sum(d1)
distances_baseline['v2'] = sum(d2)
distances_baseline['v3'] = sum(d3)
distances_baseline['v4'] = sum(d4)
distances_baseline['v5'] = sum(d5)

In [139]:
distances_baseline

{'v1': 20.31897939730835,
 'v2': 20.31897939730835,
 'v3': 19.6694619043898,
 'v4': 20.288946647903803,
 'v5': 19.56561293881805}

### Calculate distances for baseline sequences

In [140]:
v1_seq2 = ['breakfast-cereal','cup','bowl','spoon','milk']
v2_seq2 = ['breakfast-cereal','cup','bowl','spoon','milk']
v3_seq2 = ['breakfast-cereal','cup','bowl','spoon','milk']
v4_seq2 = ['breakfast-cereal','cup','bowl','spoon','milk']
v5_seq2 = ['breakfast-cereal','cup','bowl','spoon','milk']

In [141]:
d1_2 = []
for i in range(0, len(v1_seq2)):
    loc1 = v1_seq2[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v1', loc2])) -
                                np.array(ast.literal_eval(distances.at['v1', loc1])))
    try:
        loc3 = v1_seq2[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v1', loc2])) -
                                np.array(ast.literal_eval(distances.at['v1', loc3])))
        d1_2.append(dist2)
    except:
        continue
    d1_2.append(dist)

In [142]:
sum(d1_2)

18.165446011566623

In [143]:
d2_2 = []
for i in range(0, len(v2_seq2)):
    loc1 = v2_seq2[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v2', loc2])) -
                                np.array(ast.literal_eval(distances.at['v2', loc1])))
    try:
        loc3 = v2_seq2[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v2', loc2])) -
                                np.array(ast.literal_eval(distances.at['v2', loc3])))
        d2_2.append(dist2)
    except:
        continue
    d2_2.append(dist)

In [144]:
sum(d2_2)

18.165446011566623

In [145]:
d3_2 = []
for i in range(0, len(v3_seq2)):
    loc1 = v3_seq2[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v3', loc1])) -
                                np.array(ast.literal_eval(distances.at['v3', loc2])))
    try:
        loc3 = v3_seq2[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v3', loc2])) -
                                np.array(ast.literal_eval(distances.at['v3', loc3])))
        d3_2.append(dist2)
    except:
        continue
    d3_2.append(dist)

In [146]:
sum(d3_2)

19.19800620518399

In [147]:
d4_2 = []
for i in range(0, len(v4_seq2)):
    loc1 = v4_seq2[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v4', loc2])) -
                                np.array(ast.literal_eval(distances.at['v4', loc1])))
    try:
        loc3 = v4_seq2[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v4', loc2])) -
                                np.array(ast.literal_eval(distances.at['v4', loc3])))
        d4_2.append(dist2)
    except:
        continue
    d4_2.append(dist)

In [148]:
sum(d4_2)

19.30603075208358

In [149]:
d5_2 = []
for i in range(0, len(v5_seq2)):
    loc1 = v5_seq2[i]
    loc2 = 'placing_' + loc1
    dist = np.linalg.norm(np.array(ast.literal_eval(distances.at['v5', loc2])) -
                                np.array(ast.literal_eval(distances.at['v5', loc1])))
    try:
        loc3 = v5_seq[i+1]
        dist2 = np.linalg.norm(np.array(ast.literal_eval(distances.at['v5', loc2])) -
                                np.array(ast.literal_eval(distances.at['v5', loc3])))
        d5_2.append(dist2)
    except:
        continue
    d5_2.append(dist)

In [150]:
sum(d5_2)

18.019509221710827

In [151]:
distances_opm = {}
distances_opm['v1'] = sum(d1_2)
distances_opm['v2'] = sum(d2_2)
distances_opm['v3'] = sum(d3_2)
distances_opm['v4'] = sum(d4_2)
distances_opm['v5'] = sum(d5_2)

In [152]:
distances_opm

{'v1': 18.165446011566623,
 'v2': 18.165446011566623,
 'v3': 19.19800620518399,
 'v4': 19.30603075208358,
 'v5': 18.019509221710827}

In [153]:
distances_baseline

{'v1': 20.31897939730835,
 'v2': 20.31897939730835,
 'v3': 19.6694619043898,
 'v4': 20.288946647903803,
 'v5': 19.56561293881805}

In [154]:
distances = pd.DataFrame()
distances['distance'] = [x for x in distances_opm.values()] + [x for x in distances_baseline.values()]
distances['type'] = ['opm'] * 5 + ['baseline'] * 5
distances['simulation'] = [x for x in distances_baseline.keys()] * 2

In [155]:
distances

    distance      type simulation
0  18.165446       opm         v1
1  18.165446       opm         v2
2  19.198006       opm         v3
3  19.306031       opm         v4
4  18.019509       opm         v5
5  20.318979  baseline         v1
6  20.318979  baseline         v2
7  19.669462  baseline         v3
8  20.288947  baseline         v4
9  19.565613  baseline         v5

### Plot distances: Barplot

In [156]:
%matplotlib qt

ax = sns.barplot(y='distance',
                 x='simulation',
                 data=distances,
                 hue='type',
                 palette='viridis',
                 saturation=0.8,
                 alpha=0.7,
                 width=0.7)

plt.setp(ax.collections, alpha=0.5)

for container in ax.containers:
    ax.bar_label(container, fmt='{:,.2f}', fontsize=16)
    
ax.tick_params(axis='both', which='major', labelsize=20)

plt.ylabel('distance in meters', fontsize=24)
plt.xlabel('simulation', fontsize=24)
ax.legend(custom_lines2, ['OPM', 'baseline'], loc='upper right', fontsize=24)

plt.show()

### Plot distances: Violin

In [161]:
%matplotlib qt

ax2 = sns.violinplot(y='distance',
                     x='type',
                     hue='type',
                     data=distances,
                     palette='viridis',
                     cut=0,
                     inner='quartiles',
                     saturation=.8)

plt.setp(ax2.collections, alpha=0.5)

#ax2.set_xticklabels(ax.get_xticklabels(), rotation=0, fontsize=24)
ax2.tick_params(axis='both', which='major', labelsize=20)

plt.ylabel('distance in meters', fontsize=24)
plt.xlabel('simulation type', fontsize=24)
#plt.legend(loc='upper right', fontsize=24)

ax2.legend(custom_lines2, ['OPM', 'baseline'], loc='upper left', fontsize=24)

#plt.tight_layout(pad=0.9)
plt.show()

### Combine plots

In [162]:
custom_cmap2 = ["#46327e", "#277f8e", "#4ac16d"]
custom_lines2 = [Line2D([0], [0], color=custom_cmap2[1], lw=8, alpha=0.5),
                Line2D([0], [0], color=custom_cmap2[2], lw=8, alpha=0.5)]

In [166]:
%matplotlib qt

fig2, (ax3, ax4) = plt.subplots(1,2, sharey=True, figsize=(12,8))

sns.barplot(y='distance',
            x='simulation',
            data=distances,
            hue='type',
            palette='viridis',
            saturation=0.7,
            alpha=0.7,
            width=0.7,
            ax=ax3,
            legend=False)

ax3.set_xlabel('simulation', fontsize=26)
ax3.tick_params(axis='both', which='major', labelsize=20)
#ax3.set_ylabel('', fontsize=24)
ax3.set_ylim(0,30)

for line in ax3.lines:
    line.set_color('black')
    
plt.setp(ax3.collections, alpha=0.4)

sns.violinplot(y='distance',
               x='type',
               hue='type',
               data=distances,
               palette='viridis',
               cut=0,
               inner='quartiles',
               saturation=0.8, 
               ax=ax4,
               legend=False)

plt.setp(ax4.collections, alpha=0.5)
ax4.tick_params(axis='x', which='major', labelsize=20)

ax3.set_ylabel('distance in meters', fontsize=26)
ax4.set_xlabel('simulation type', fontsize=26)

for line in ax4.lines:
    line.set_color('black')

plt.subplots_adjust(hspace=0.01)

ax3.legend(custom_lines2, ['OPM', 'baseline'], loc='upper right', fontsize=24)
ax4.legend(custom_lines2, ['OPM', 'baseline'], loc='upper right', fontsize=24)
plt.tight_layout(pad=0.3)
plt.show()

### Stat analysis

In [117]:
opm = [x for x in distances_opm.values()]

In [118]:
baseline = [x for x in distances_baseline.values()]

In [119]:
stat, p = wilcoxon(opm, baseline)
print('Wilcoxon: W = %.3f, p = %.5f' % (stat, p))

Wilcoxon: W = 0.000, p = 0.06250

In [120]:
np.average(opm), np.average(baseline)

(18.570887640422324, 20.032396057145668)